.master_container
{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
}
.collection_row .collection_name
{
    font: 500 20px/24px "Geologica",sans-serif;
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 0.04em;
}
/* .nft_all_section .main_heading span
{
    font: 300 16px/24px "Montserrat",sans-serif;
    letter-spacing: 0px;
    margin-left: 8px;
} */
/* Each NFT */

.collection_nft_container .nft_container
{
    background-color: #2f2f2f;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-width: 230px;
    min-height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.collection_nft_container .image_container
{
    width: 180px;
    display: block;
    margin: 0 auto;
    height: 180px;
}
.collection_nft_container .image_container img
{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}
.collection_nft_container .name_section
{
    padding: 10px 0px;
    max-width: 180px;
    
}
.collection_nft_container .name_section .name_text
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 400 13px/22px "Plus Jakarta Sans", sans-serif !important;
    color: #fff;    
}
.i_hover_section
{
    position: relative;
}
.i_hover_section .i_indicator + .desc_area
{
    display: none;
}
.i_hover_section .i_indicator:hover + .desc_area
{
    display: block;
    position: absolute;
    top: 30px;
    width: 180px;
    padding: 8px;
    color: #fff;
    border: 1px solid white;
    border-radius: 6px;
    background-color: #432b5a;
    font: 400 12px/16px "Montserrat", sans-serif;

}
.desc_area .desc_heading
{
    font: 600 14px/18px "Montserrat", sans-serif;
    color: #fff;
    text-align: center;
    padding-bottom: 12px;
}
.desc_area table
{
    width: 165px;
}
.desc_area table .trait_type
{
    font: 400 12px/16px "Montserrat", sans-serif;
    color: #fff;
    padding-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.desc_area table .value
{
    font: 600 12px/16px "Montserrat", sans-serif;
    color: #BAFC08;
    padding-bottom: 8px;
    text-align: end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn_sm_outline_outer
{
    background: linear-gradient(90deg,#FF00FF 12%, #07F0FF 70%);
    padding: 2px;
    border-radius: 14px;
    border: none;
    width: 100%;
    transition: all 0.2s ease-in;
}
.btn_sm_outline_outer .btn_sm_outline_inner
{
    background-color: #2d144d;
    padding: 10px;
    border-radius: 14px;
    font: 400 12px/0 "Montserrat", sans-serif;
    color: #fff;
    width: 100%;
    text-align: center;
}
.btn_sm_outline_outer:hover
{
    transform: scale(1.05);
}

.all_collections_page .main_heading
{
    font: 500 40px/48px "Odibee Sans", sans-serif;
    background: -webkit-linear-gradient(278deg, #FF008A 3%, #F3DD59 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* letter-spacing: 1px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.all_collections_page .main_heading span
{
  font: 500 40px/48px "Odibee Sans", sans-serif;
  background: -webkit-linear-gradient(280deg, #FF008A 3%, #F3DD59 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* letter-spacing: 1px; */
}

@media screen and (max-width: 767px) {
    .all_collections_page .main_heading
    {
        font: 500 32px/40px "Odibee Sans", sans-serif;
        background: -webkit-linear-gradient(278deg, #FF008A 1%, #F3DD59 75%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        /* letter-spacing: 1px; */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .collection_row .collection_name
    {
        font: 400 18px/22px "Montserrat",sans-serif;
        color: #fff;
        padding-bottom: 10px;
        /* letter-spacing: 1px; */
    }
   
    .collection_nft_container .nft_container
    {
        width: 170px;
        padding-bottom: 0px;
    }
    .collection_nft_container .image_container
    {
        width: 148px;
        display: block;
        margin: 0 auto;
        height: 140px;
    }
    .collection_nft_container .name_section .name_text
    {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font: 400 12px/20px "Montserrat", sans-serif;
        color: #fff;    
    }
}
.expand_button
{
    position: relative;
    padding-left: 10px;
    margin-top: -1px;
    transition: all 0.2s auto;
}
.expand_button button
{
    background-color: transparent;
    color: #F3DD59;
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0px;
}
.could_not_text
{
    font: 300 16px/20px "Poppins",sans-serif;
    color: #FFF3;
    /* letter-spacing: 1px; */
    text-align: center;
}

.homepage_nft_collections_container
{
    background-color: #2F2F2F;
    border-radius: 15px;
    padding: 15px 20px;
}
.homepage_nft_collections_container .nft_collections_heading
{
    font: 400 18px/22px "Geologica",sans-serif;
    color: #fff;
    padding: 8px 0px;
}
.homepage_nft_collections_container .nft_collections_subname
{
    display: flex;
    font: 400 13px/16px "Plus Jakarta Sans",sans-serif;
    color: #fff;
    padding: 5px 0px 20px;
}
.homepage_nft_collections_container .each_collection
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    
}
.homepage_nft_collections_container .each_collection .nft_collection_details > div
{
    display: inline-block;
    cursor: pointer;
}
.homepage_nft_collections_container .each_collection .collection_image img
{
    width: 40px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}
.homepage_nft_collections_container .each_collection .collection_name
{
    font: 500 13px/16px "Plus Jakarta Sans",sans-serif;
    color: #fff;
    letter-spacing: 0.04em;
}
.homepage_nft_collections_container .each_collection .collection_name_selected::after
{
    content: "";
    background-color: #BAFC08;
    font-weight: bold;
    width: 20px;
    height: 2px;
    display:block;
    margin-top: 5px;
}
.homepage_nft_collections_container .each_collection .number_of_nfts {
    font: 500 13px/16px "Plus Jakarta Sans",sans-serif;
    color: #BAFC08;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid #fff7;
}
