
.footer_lime
{
    background-color: transparent;
    position: relative;
    width: 100%;
    padding: 15px 5px 5px;
    min-height: 10vh;
    margin-bottom: 0;
}
.footer_lime .powered_by_text
{
    font: 300 14px 'Plus Jakarta Sans', sans-serif;
    color: #fff;
    letter-spacing: 0.02em;
    padding: 4px 8px;
}
.footer_lime .lime-footer-icons img {
    width: 28px;
}
.footer_lime .each_icon_container
{
    padding: 2px 6px;
}
