/* @import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600&display=swap');

.tabbed_domain_section
{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding-top: 10px;
}

.each_tab_domain
{
    position: relative;
    background-color: #3C1B67;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 14px;
    border: 2px solid transparent;
    padding: 8px 8px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: start;
    transition: all 0.05s ease;
}
.each_tab_domain .address_section
{
    font: 500 14px/16px "Poppins",sans-serif;
    color: #fffa;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}
.each_tab_domain .address_section .copy_btn
{
    padding: 0px;
    margin-top: -10px;
    margin-left: 4px;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}
/* .each_tab_domain .toggle_button
{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: end;
} */

/* .each_tab_domain .toggle_button .sol_icon img
{
    width: 20px;
    height: 20px;
}
.each_tab_domain .toggle_button .sol_icon_2 img
{
    width: 24px;
    height: 24px;
} */

.each_tab_domain .name_section
{
    font: 500 14px/16px "Poppins",sans-serif;
    color: #fff;
    padding: 10px 20px;
}

@media screen and (max-width:767px) {
    .each_tab_domain
    {
        position: relative;
        border-radius: 10px;
        border: 2px solid transparent;
        padding: 8px 12px;
        
    }
    
    /* .each_tab_domain .name_section
    {
        font: 500 18px/22px "Montserrat",sans-serif;
        padding: 10px 20px 10px 0px;
        color: #FDF41B;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: start;
    }  */
    
    
}
.search_area_container
{
    position: relative;
    /* top: -40px; */
    margin-bottom: 10px;
    margin-top: -30px;
    right: 0;
}
.sort_button
{
    background-color: #3C1B67;
    font: 300 12px/14px "Plus Jakarta Sans",sans-serif;
    color: #fff;
    border: none;
    outline:none;
    box-shadow: none;
    border-radius: 25px;
    padding: 6px 16px 7px 18px;
    margin-top: 0px;
}
.sort_button span
{
    font: 400 15px/14px "Plus Jakarta Sans",sans-serif;
    color: #FDF41B;
    margin-left: 2px;
}
@media screen and (max-width:767px) {
    .sort_button
    {
        
        margin-top: 10px;
    }   
}