@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.background {
  position: relative;
  background: radial-gradient(#1E0C36 8%, #000 75%);
  z-index: 0;
  height: 100vh;
}

.four04 {
  color: #fff;
  font: 600 48px/50px "Montserrat", sans-serif;
  padding-bottom: 30px;
}

.four04_button {
  display: inline-block;
  /* padding: 0.8rem 2.5rem 0.8rem 2.5rem; */
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  min-width: 220px;
  border: none;
  border-radius: 2.5rem;
  background-color: rgba(89, 101, 243, 0.29);
  background: linear-gradient(90.8deg,
      #E0499B -30.34%,
      #571DA3 85%);
  color: #fff;
  font: 500 0.9rem/1.2rem "Poppins", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.2s;
}

.four04_button:hover {
  color: #fffa
}

.background_super {
  min-height: 100vh;
  max-width: 100vw;
  background: radial-gradient(#1E0C36 8%, #000 75%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
  padding: 80px 0px 40px;
}

@media screen and (max-width: 992px) {
  .background_super {

    padding: 110px 0px 40px;
  }
}

@media screen and (max-width: 767px) {
  .background_super {

    padding: 120px 0px 40px;
  }
}

.toggle_up {
  transform: rotate(180deg);
}

.toggle_down {
  transform: rotate(0);
}


.our-navbar {
  background-color: #00011C22;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.our-navbar a {
  text-decoration: none;
  color: #fff;
  font: 600 0.9rem/1.75rem "Montserrat", sans-serif;
}

.our-navbar a.btn-solid-grad {
  padding: 4px 12px;
  border-radius: 25px;
  background: linear-gradient(90.8deg,
      rgba(224, 73, 155, 1) 3.34%,
      rgba(89, 101, 243, 1) 100%);
  min-width: 160px;
  text-align: center;
  margin-top: 5px;
}

.select_container {
  width: 190px;
  background-color: #8254b066;
  border-radius: 26px;
  padding: 12px 16px;
}

.select_container select {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  font: 700 16px/18px "Montserrat", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.select_container select:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.select_container option {
  background-color: #2a0855;
}

@media screen and (max-width: 767px) {
  .select_container {
    width: 100%;
    border-radius: 26px;
    margin-top: 16px;
    padding: 8px 12px;
  }

  .select_container select {

    font: 400 14px/16px "Montserrat", sans-serif;
    letter-spacing: 1px;
    /* padding:  6px; */
    display: block;
    margin: 0 auto;
    /* width: 93%; */
  }

  .select_container select:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  .select_container option {
    background-color: #2a0855;
  }
}

.not_found_text {
  font: 300 16px/20px "Poppins", sans-serif;
  color: #FFF3;
  letter-spacing: 1px;
  text-align: center;
}

.full-overlay {
  position: fixed;
  height: 120vh;
  width: 100vw;
  z-index: 99;
  background-color: #112f4a55;
  overflow: hidden !important;
  margin-top: -150px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-overlay .loading-square {
  width: 100%;
  max-width: 600px;
  min-height: 250px;
  background: #1e003d;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.full-overlay .loading-square img {
  width: 120px;
}

.full-overlay .loading-square .p-para {
  font-weight: 400;
  color: #fffc;
  padding-top: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.no_decor {
  text-decoration: none;
  color: #0AEEFF;
  transition: all 0.5s ease;
}

.no_decor:hover {
  text-decoration: none;
  color: #E0499B;
}

.no_underline {
  text-decoration: none;
  color: #FFF;
  transition: all 0.5s ease;
}

.no_underline:hover {
  text-decoration: none;
  color: #FFF;
}

.ten-height {
  min-height: 10px;
}

.ten-height-2 {
  min-height: 50px;
  position: relative;
  z-index: -1;
  background-color: black;
  margin-top: -10px;
  margin-bottom: 10px;
}

.could_not_text {
  font: 300 16px/22px "Poppins", sans-serif;
  color: #FFF3;
  letter-spacing: 1px;
}

.logo_container {
  font: 700 32px/32px "Geologica", sans-serif;
  letter-spacing: 0.02em;
  width: 250px;
}
.logo_area
{
  width: 250px;
}
.logo_area_mobile
{
  display: none;
  width: 250px;
}

.logo_container a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width:1100px){
  .logo_container {
    font: 700 24px/28px "Geologica", sans-serif;
    letter-spacing: 0.02em;
    width: 250px;
  }
  .logo_area
  {
    display: none;
    width: 0px;
  }
  .logo_area_mobile
  {
    display: inline-block;
    width: 20px;
  }
}
@media screen and (max-width:767px){
  .logo_container {
    font: 700 32px/32px "Montserrat", sans-serif;
    width: 90vw !important;
  }
  
}
@media screen and (max-width:576px){
  .logo_container {
    font: 700 24px/28px "Montserrat", sans-serif;
    width: 90vw !important;
  }
}


.myTarget .react-tooltip-lite {
  width: 76px;
  padding: 18px 4px;
  font: 300 12px/0 "Poppins", sans-serif;
  display: inline;
  text-align: center;
}

.myMarginTarget .react-tooltip-lite {
  width: 80px;
  padding: 18px 4px;
  font: 300 12px/0 "Poppins", sans-serif;
  display: inline;
  margin-left: 8px;
  text-align: center;
}
.generic .react-tooltip-lite {
  /* width: 80px; */
  padding: 18px 4px;
  font: 300 12px/0 "Poppins", sans-serif;
  display: inline;
  margin-left: 8px;
  text-align: center;
}
.inline_tooltip
{
  display: inline;
}
.inline_tooltip .react-tooltip-lite
{
    padding: 18px 4px;
    font: 300 12px/0 "Poppins", sans-serif;
    display: inline;
    margin-left: 8px;
    text-align: center;
}

.footer-white {
  position: absolute;
  z-index: 10;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);
  padding: 15px 5px 5px;
  /* border-top: 1px solid #ffffffcc; */
  min-height: 10vh;
  bottom: 0;
}

.white-footer-icons img {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .footer-white {
    position: relative;
  }
  
}
@media screen and (max-width: 768px) {
  .footer-white {
    position: relative;
  }
  
}

.copy_link {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #fffa;
  font-size: 18px;
  transition: all 0.1s ease;
}

.copy_link:hover {
  color: #ffff;
}

.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
  display: inline;
  min-width: 12px !important;
  height: 12px !important;
  border-radius: 15px;
  background-color: #FDF41B;
  position: absolute;
  margin-top: 2px;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.scroll-to-top
{
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 20;
}
.scroll-to-top button
{
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 25px;
  padding: 3px 10px 8px;
  background-color: #FFF;
  color: #280c4c;
  font-weight: 700;
  /* border: 2px solid #fffa; */
}
.scroll-to-top-2
{
  position: fixed;
  top: 30px;
  right: 45px;
  z-index: 20;
}
.scroll-to-top-2 button
{
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 25px;
  width: 32px;
  height: 32px;
  padding: 3px 2px;
  background-color: transparent;
  color: #280c4c;
  font-weight: 700;
  /* border: 2px solid #fffa; */
}
.scroll-to-top-3
{
  position: fixed;
  top: 30px;
  left: 45px;
  z-index: 1;
}
.scroll-to-top-3 a
{
  font: 700 32px/32px "Montserrat", sans-serif;
  color: #fff;
  text-decoration: none;
}
.scroll-to-top-notification
{
  position: fixed;
  top: 42px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.scroll-to-top-notification .notification_area {
  font: 400 14px "Geologica",sans-serif;
}
.notification_area .batch_icon span {
  color: #FF5454;
  animation-name: red_yellow;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
.notification_area .noti_item {
  color: #fff;
  font-weight: 500;
  padding-top: 1px;
  margin-left: 8px;
}
.notification_area .upload_idl_button {
  border: none;
  outline: none;
  margin-left: 8px;
  background: linear-gradient(90.8deg,#e0499b -30.34%,#571da3 85%);
  font: 300 12px/12px "Geologica",sans-serif;
  color: #fffe;
  padding: 4px 12px 5px;
  border-radius: 12px;
}

@media screen and (max-width: 1000px) {
  .scroll-to-top-notification
  {
    position: fixed;
    top: 90px;
    width: 340px;
  }
  .scroll-to-top-notification .notification_area {
    font: 400 10px "Geologica",sans-serif;
    
  }
  
}
@media screen and (max-width: 576px) {
  .scroll-to-top-notification
  {
    position: fixed;
    top: 80px;
    width: 340px;
  }
}
@keyframes red_yellow {
  0% {color: #FF5454;}
  50% {color: #FDF41B;}
  100% {color: #FF5454;}
}

.popup_view_overlay
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0008;
}
.popup_view_area
{
  background: #240E42;
  /* backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */
  width: 100%;
  max-width: 500px;
  z-index: 14;
  position: relative;
  padding: 40px 24px 36px;
  border-radius: 16px;
}
.popup_view_area .close_cross_x
{
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  outline:none;
  box-shadow: none;
  width: 24px;
  height: 24px;
  line-height: 0px;
  font-weight: 600;
  font-size: 10px;
  border-radius: 24px;
  color: #FDF41B;
  background-color: #fff2;
}
.popup_view_area .heading_1
{
  font: 600 28px/36px "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  padding-bottom: 16px;
}
.popup_view_area .question_section
{
  width: 100%;
  max-width: 840px;
  display: block;
  margin: 0 auto;
}
.popup_view_area .question_section a
{
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}
.popup_view_area .question_section a:hover
{
  color:#0AEEFF;
}
.popup_view_area .each_question_answer 
{
  padding-top: 4px;
  /* background-color: #120A1DB2; */
  border-radius: 8px;
  margin-bottom: 8px;
}
.popup_view_area .each_question_answer .question
{
  font: 500 18px "Montserrat", sans-serif;
  color: #FFF;
  padding: 0px 4px 2px;
}
.popup_view_area .each_question_answer .question hr
{
  margin-top: 12px;
  margin-bottom: 0px;
}

.popup_view_area .answer_area
{
  padding: 8px 26px 12px;
  border-radius: 8px;
  /* background-color: #120A1DB2; */
  font: 200 14px/22px "Poppins", sans-serif;
  color: #fff;
}
.updown_arrow
{
  transition: all 0.3s ease;
  padding-left: 8px;
  padding-right: 8px;
}
.updown_arrow img
{
  width: 8px;
}
.popup_view_area .link_area
{
  padding-top: 36px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  max-width: 840px;
  display: block;
  margin: 0 auto;
} 
.link_area .each_contribute_link a
{
  text-decoration: none;
}
.link_area .each_contribute_link .icon_contri img
{
  width: 32px;
}
.link_area .each_contribute_link .text_contri
{
  padding-left: 14px;
  padding-top: 6px;
}
.link_area .each_contribute_link .text_contri .title
{
  font: 500 16px/20px "Montserrat", sans-serif;
  color: #fff;
}
.link_area .each_contribute_link .text_contri .link
{
  font: 300 12px/18px "Poppins", sans-serif;
  color: #FDF41Bfe;
}
@media screen and (max-width:767px) {
  .popup_view_area
  {
    padding: 8px 16px;
  }
  .popup_view_area .heading_1
  {
    font: 600 24px "Montserrat", sans-serif;
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .popup_view_area .link_area
  {
    padding-top: 24px;
    width: 100%;
    max-width: 840px;
    display: block;
    margin: 0 auto;
  }
  .link_area .each_contribute_link 
  {
    margin-bottom: 16px;
    text-decoration: none;
  }
  .scroll-to-top-2
  {
    top: 20px;
    right: 20px;
  }
  .scroll-to-top-3
  {
    
    top: 24px;
    left: 25px;
  }
  .scroll-to-top-3 a
  {
    font: 700 24px/24px "Montserrat", sans-serif;
    color: #fff;
    text-decoration: none;
  }
}
.long_cards
{
  margin-bottom: 28px;
  background-color: #3c1b67;
  border-radius: 12px;
}
.long_cards .long_image_container
{
  padding: 16px;
  /* height: 250px;
  width: 250px; */
}
.long_cards .long_image_container img
{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
}
.long_cards .nft_details
{
  padding: 4px 24px;
}
.long_cards .name_section
{
  padding-top: 10px;
}
.long_cards .name_section .nft_name
{
  font: 500 20px/24px "Montserrat", sans-serif;
  color: #FDF41B;
}
.long_cards .name_section .nft_sub_name
{
  font: 500 12px/22px "Montserrat", sans-serif;
  color: #FFF6;
  padding-left: 12px;
}
.long_cards .owner_section
{
  padding-top: 10px;
  font: 500 16px/18px "Plus Jakarta Sans", sans-serif;
  color: #fffa;
}
.long_cards .owner_section .detail
{
  font: 500 16px/18px "Plus Jakarta Sans", sans-serif;
  color: #fff;
}
.long_cards .attribute_section
{
  padding-top: 22px;
  font: 500 14px/18px "Plus Jakarta Sans", sans-serif;
  color: #fffa;
}
.long_cards .attrib_section_title
{
  font: 500 16px/18px "Plus Jakarta Sans", sans-serif;
  color: #fff;
  padding-bottom: 6px;
}
.long_cards .attribute
{
  width: 250px;
  background-color: #280c4c;
  border-radius: 4px;
  font: 500 16px/18px "Plus Jakarta Sans", sans-serif;
  color: #fffa;
  padding: 10px 0px;
  padding-right: 4px;
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 8px;
}
.long_cards .attribute .attribname
{
  overflow: hidden;
}
.long_cards .attribute .attribvalue
{
  font: 500 16px/18px "Plus Jakarta Sans", sans-serif;
  color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 1400px) {
  .long_cards .name_section .nft_name
  {
    font: 500 18px/22px "Montserrat", sans-serif;
  }
  .long_cards .owner_section
  {
    padding-top: 10px;
    font: 500 14px/18px "Plus Jakarta Sans", sans-serif;
    color: #fffa;
  }
  .long_cards .owner_section .detail
  {
    font: 500 14px/18px "Plus Jakarta Sans", sans-serif;
    color: #fff;
  }
  .long_cards .attribute
  {
    font: 500 12px/18px "Plus Jakarta Sans", sans-serif !important;
  }
  .long_cards .attribute .attribvalue
  {
    font: 500 12px/18px "Plus Jakarta Sans", sans-serif !important;
    color: #fff;
    overflow: hidden;
  }
  .long_cards
  {
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .long_cards
  {
    margin-bottom: 24px;
    background-color: #3c1b67;
    border-radius: 24px;
    padding: 12px;
    padding-bottom: 20px;
  }
}

.wallet-button{
  color: black !important;
  background: linear-gradient(90.22deg, #4E1C8D 1.13%, #280C4C 131.77%);
  width: 100% !important;
  justify-content: center !important;
  border: none;
  padding: 0px !important;
  height: auto !important;
  font: 500 0.9rem/1.2rem "Montserrat", sans-serif !important;
  color: #fff !important;
  padding: 0.7rem 0rem !important;
  border-radius: 2.5rem !important;
  transition: all 0.5s ease-in;
}

.wallet-button:hover {
  background: linear-gradient(90.22deg, #5d2b99 1.13%, #280C4C 131.77%);
}
.wallet-adapter-dropdown
{
  width: 100%;
}
.wallet-adapter-dropdown .wallet-button
{
  padding: 0.62rem 0rem !important;
}
.foll_unfoll_notification {
  background-color: #1E0C36;
  /* border: 2px solid #fffd; */
  color: #fff;
  padding: 6px 10px;
}
.foll_unfoll_notification .icon_foll
{
  background-color: transparent;
  width: 36px;
  margin-right: 10px;
}
.foll_unfoll_notification .text_foll {
  font: 400 16px "Geologica",sans-serif;
  padding-top: 8px;
}
.upload_idl
{
  padding: 20px 16px;
}
.upload_idl .upload_heading {
  font: 500 24px/28px "Geologica", sans-serif;
  color: #fff;
}

.custom-file-input-1 {
  color: transparent;
  width: 110px;
  display: block;
  margin: 0 auto;
}
.custom-file-input-1::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-1::before {
  content: attr(data-label-custom);
  color: black;
  display: inline-block;
  background: linear-gradient(90.8deg,#e0499b -30.34%,#571da3 85%);
  font-family: "Jost", sans-serif;
  font-weight: 400 !important;
  border-radius: 16px;
  padding: 5px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  border: 1px solid #2a0855;
  font-size: 10pt;
  color:white;
  transition: border 0.2s ease;
}
.custom-file-input-1:hover::before {
  border: 1px solid #fff;
}
.custom-file-input-1:active {
  outline: 0;
}
.custom-file-input-1:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.idl_field_set {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 4px 0px;
}
.idl_field_set label {
  font: 400 16px "Geologica",sans-serif;
  color: #fff;
  padding-left: 4px;
}

.idl_field_set label.label_value {
  font: 600 16px "Geologica",sans-serif !important;
  color: #FDF41B;
  padding-right: 10px;
}
.idl_upload {
  background: linear-gradient(90.8deg,#e0499b -30.34%,#571da3 85%);
  border: 1px solid #2a0855;
  outline: none;
  padding: 10px 30px;
  border-radius: 20px;
  font: 400 14px/14px "Geologica",sans-serif;
  color: #fff;
  transition: border 0.3s ease;
}
.idl_upload:hover {
  border: 1px solid #fff;
}
.idl_upload_success {
  background: linear-gradient(90.8deg,#1e003d -30.34%,#1e003d 85%);
  border: 1px solid #2a0855;
  outline: none;
  padding: 2px 32px;
  border-radius: 20px;
  font: 400 14px/14px "Geologica",sans-serif;
  color: #1e003d;
}
.error_text {
  font: 600 14px "Jost",sans-serif !important;
  color: red;
}
.upload_idl .close_button {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.custom-file-input-2 {
  color: transparent;
  width: 99%;
  display: block;
  margin: 0 auto;
}
.custom-file-input-2::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-2::before {
  content: attr(data-label-custom);
  text-align: center;
  color: black;
  display: inline-block;
  background: linear-gradient(90.8deg,#e0499b -30.34%,#571da3 85%);
  font-family: "Jost", sans-serif;
  font-weight: 400 !important;
  border-radius: 24px;
  padding: 10px 20px;
  width: 99%;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  border: 1px solid #2a0855;
  font-size: 10pt;
  color:white;
  transition: border 0.2s ease;
}
.custom-file-input-2:hover::before {
  border: 1px solid #fff;
}
.custom-file-input-2:active {
  outline: 0;
}
.custom-file-input-2:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.idl_field_set.block {
  display: block;
  padding: 20px 4px 0px;
}
.idl_field_set.block label {
  font: 400 16px "Geologica",sans-serif;
  color: #fff;
  padding-left: 4px;
}
.idl_field_set.block .idl_input_container {
  padding: 4px 12px 8px;
  margin-left: 2px;
  margin-top: 6px;
  border-radius: 24px;
  background-color: #1e003d;
  border: 2px solid #9650E5;
}
.idl_field_set.block .idl_input_container input {
  background-color: transparent;
  border: none;
  outline: none;
  font: 400 13px/12px "Geologica",sans-serif;
  color: #fffd;
  width: 100%;
}

.idl_upload {
  background: linear-gradient(90.8deg,#e0499b -30.34%,#571da3 85%);
  border: 1px solid #2a0855;
  outline: none;
  padding: 10px 30px;
  border-radius: 20px;
  font: 400 14px/14px "Geologica",sans-serif;
  color: #fff;
  transition: border 0.3s ease;
}
.idl_upload:hover {
  border: 1px solid #fff;
}
.idl_upload_success {
  background: linear-gradient(90.8deg,#1e003d -30.34%,#1e003d 85%);
  border: 1px solid #2a0855;
  outline: none;
  padding: 2px 32px;
  border-radius: 20px;
  font: 400 14px/14px "Geologica",sans-serif;
  color: #1e003d;
}
.error_text {
  font: 600 14px "Jost",sans-serif !important;
  color: red;
}
.upload_idl .close_button {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
}